.block
{
	background-color: #ccc;
	margin: 10px;
	font-size: .9em;
	border-top: 3px solid #444;
	border-left: 3px solid #444;
	border-bottom: 3px solid #888;
	border-right: 3px solid #888;
}

.blockhover
{
	background-color: #afa;
}

.blocktitle
{
	cursor: pointer;
	font-size: medium;
	margin: 10px;
}

.blockcontents {
  width: 500px;
  background-color: #fff;
}

.hideblock
{
	display:none;
}

